* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-top: 7rem;
}  
.main {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.image {
    border-radius: 6px;
    background-color: cyan;
    width: 15.625rem;
    height: 15.625rem;
}
.main h1{
    font-size: 18px;
    color: white;
}
.main p{
    font-size: 0.875rem;
    font-weight: 1;
    width: 25ch;
    color: lightslategray;
}
#nft {
    width: 15.625rem;
    border-radius: 5px;
}
.cyan {
    display: flex;
    justify-content: space-between;
    color: cyan;
}
.second{
    display: flex;
    justify-content: space-between;
}
.left  {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: cyan;
    font-size: 0.875rem;
}
.right {
    display: flex;
    align-items: center;
    gap:0.3rem
}
.time{
    margin-top: -0.2rem;
    font-size: 0.875rem;
    color: lightslategray;   
}
#hr {
    color: hsl(215, 32%, 27%);
}
#prf-pic {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;    
}
.prf-data {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    gap: 0.5rem;
}
.prf-name {
    color:lightslategray;
}
.prf-name:hover{
    color:cyan;
    cursor: pointer;
}
.main h1:hover{
    color: cyan;
    cursor: pointer;
}
#nft:hover{
    filter: opacity(40%);
    cursor: pointer;
}